{% load static %} {% load humanize %}

<!-- FOOTER -->
<section class="footer">
    <div class="footer-elements">
        <div class="row">
            <div class="col-sm-12">
                <div class="row no-gutter">
                    <!-- FOOTER TOP ELEMENT -->
                    <div class="col-sm-3">
                        <div class="footer-element">
                            <span class="typcn typcn-watch"></span>
                            <p>MONDAY TO FRIDAY<span>04:00 - 20:00</span></p>
                        </div>
                    </div>
                    <!-- FOOTER TOP ELEMENT -->

                    <!-- FOOTER TOP ELEMENT -->
                    <div class="col-sm-3">
                        <div class="footer-element">
                            <span class="typcn typcn-location-outline"></span>
                            <p>
                                Address:
                                <span>204 Niagara Street St Catherines Ontario L2M 4V4</span>
                            </p>
                        </div>
                    </div>
                    <!-- FOOTER TOP ELEMENT -->

                    <!-- FOOTER TOP ELEMENT -->
                    <div class="col-sm-3">
                        <div class="footer-element">
                            <span class="typcn typcn-mail"></span>
                            <p>
                                E-MAIL:<span
                                    ><a href="mailto:dkcconsultin@gmail.com"
                                        >dkcconsultin@gmail.com</a
                                    ></span
                                >
                            </p>
                        </div>
                    </div>
                    <!-- FOOTER TOP ELEMENT -->

                    <!-- FOOTER TOP ELEMENT -->
                    <div class="col-sm-3">
                        <div class="footer-element">
                            <span class="typcn typcn-phone-outline"></span>
                            <p>CALL US:<span>+16473030219</span></p>
                        </div>
                    </div>
                    <!-- FOOTER TOP ELEMENT -->
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widgets">
        <div class="row">
            <!-- FOOTER WIDGET -->
            <div class="col-sm-4">
                <div class="footer-widget">
                    <div class="small-logo">
                        <img
                            src=" {% static 'images/logo_white_bg.png' %} "
                            alt=""
                        />
                    </div>
                    <p>
                        Our priority is for your business to grow beyond
                        measure. We are mould builders. Your business and
                        personal success is our committment.
                    </p>
                    <ul class="social-links">
                        <li>
                            <a href="#" title="Twitter"
                                ><i class="fa fa-twitter"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" title="Facebook"
                                ><i class="fa fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" title="Linkedin"
                                ><i class="fa fa-linkedin"></i
                            ></a>
                        </li>
                        <li>
                            <a href="#" title="Pinterest"
                                ><i class="fa fa-pinterest-p"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER WIDGET -->

            <!-- FOOTER WIDGET -->
            <div class="col-sm-4">
                <div class="footer-widget">
                    <h5>LINKS</h5>
                    <ul class="posts">
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'about' %}">SERVICES</a></li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>
                </div>
            </div>
            <!-- END FOOTER WIDGET -->

            <!-- FOOTER WIDGET -->
            <div class="col-sm-4">
                <div class="footer-widget">
                    <h5>RECENT NEWS</h5>
                    <ul class="posts">
                        {% for post in news %}
                        <li>
                            <a href="{{ post.link }}" target="_blank"
                                >{{post.title}}</a
                            >
                            <span>{{ post.created_at | naturalday }}</span>
                        </li>
                        {% empty %}
                        <li>
                            <a>No recent news</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- END FOOTER WIDGET -->
        </div>
    </div>
</section>
<!-- END OF FOOTER -->

<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
