{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GoodGrowth - Financial Services HTML Template</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <!-- GOOGLE WEB FONTS -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- END OF GOOGLE WEB FONTS -->

  <!-- BOOTSTRAP & STYLES -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/block_grid_bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/typicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/odometer-theme-default.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate-custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- END OF BOOTSTRAP & STYLES -->
</head>

<body>
  <!-- HEADER -->

  <div id="hw-hero">
    <div class="header header1">
      <!-- TOP BAR -->
      <div class="topbar">
        <div class="row">
          <div class="col-sm-6">
            <ul class="phone">
              <li><span class="typcn typcn-phone-outline"></span> 800.1148.800</li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="toplinks">
              <li>MON - FRI 09:00 - 20:00</li>
              <li><a href="#">E-MAIL US</a></li>

            </ul>
          </div>
        </div>
      </div>
      <!-- END OF TOP BAR -->


      <!-- LOGO & NAVIGATION -->
      <div class="header-navigation">
      <div class="row">
        <div class="col-sm-12">
          <div class="logonav">
            <div class="row no-gutter">
              <div class="col-sm-3">
                <div class="logo">
                  <a href="{% url 'home' %}"><img src="{% static 'images/logo.png '%} " alt="" /></a>
                </div>
              </div>
              <div class="col-sm-9">
                <nav id="desktop-menu">
                <ul class="sf-menu" id="navigation">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li class="current"><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- END OF LOGO & NAVIGATION -->
    </div>

 <!-- PAGE HEADER -->
    <div id="page-header" class="about1">
   <div class="title-breadcrumbs">
   <h1>ABOUT US</h1>
   <div class="thebreadcumb">
    <ul class="breadcrumb">
        
    </ul>
   </div>
   </div>

    </div>
    <!-- END OF PAGE HEADER -->
  </div>

 <section class="introtext about1">
    <div class="row">
      <div class="col-sm-12">
        <h2>DISCOVER THE <span>FINANCIAL KEYS</span> TO GROW SUCCESSFULLY</h2>
        <p class="text-center">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables. Proactively
          envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
      <hr class="small"/>
      </div>
    </div>

<!-- NUMBERS -->
<div class="about1-numbers">
      <div class="row">
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="number lightgray">1</div>
            </div>
            <div class="col-sm-12 col-md-9">
              <h4>FINANCIAL AFFAIRS</h4>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
          </div>
          </div>
        </div>

        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
         <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="number blue">2</div>
            </div>
            <div class="col-sm-12 col-md-9">
              <h4>FINANCIAL REVIEW</h4>
              <p>Dynamically procrastinate B2C users after installed base benefits efficiently.</p>
            </div>
          </div>
          </div>
        </div>

        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
         <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="number green">3</div>
            </div>
            <div class="col-sm-12 col-md-9">
              <h4>FINANCIAL BUNDLES</h4>
              <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
<!-- END OF NUMBERS -->
</section>

<!-- SLIDER / ACCORDION -->
<section class="about1-slider-accordion">
<div class="row">
<div class="col-md-6">
<div id="about1-slider">
<img src="{% static 'images/about1-slider1.jpg' %}" alt="">
<img src="{% static 'images/about1-slider2.jpg' %}" alt="">
<img src="{% static 'images/about1-slider3.jpg' %}" alt="">
</div>
    <!-- END OF SLIDER -->
</div>
<div class="col-md-6">

    <!-- ACCORDION -->
<div id="accordion" class="style2 panel-group">
                <div class="panel panel-default">

                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-minus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion.style2" href="#collapse-style2-1">COLLABORATIVELY ADMINISTRATE EMPOWERED MARKETS</a></h4>
                  </div>

                  <div id="collapse-style2-1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>Social nutrition carbon rights. Economic security inspire breakthroughs cross-cultural small-scale farmers John Lennon educate. Community health workers effectiveness Global South facilitate honor fairness invest citizenry. UNICEF medical capacity building achieve. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion.style2" href="#collapse-style2-2">PLUG-AND-PLAY NETWORKS</a></h4>
                  </div>

                  <div id="collapse-style2-2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Raise awareness maintain; peace social worker; tackling; Rosa Parks global citizens globalization social impact. Healthcare pride, change movements disruption; democratizing the global financial system gender equality. Network natural resources, think tank elevate civic engagement.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion.style2" href="#collapse-style2-3">B2C USERS AFTER INSTALLED BASE</a></h4>
                  </div>

                  <div id="collapse-style2-3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Grantees dedicated; inspire social change; truth support engage. Global breakthrough insights readiness democracy crisis situation honesty amplify volunteer combat poverty indicator. Catalytic effect hack agriculture many voices aid challenges. Rural; social good minority humanitarian.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion.style2" href="#collapse-style2-4">VISUALIZE CUSTOMER DIRECTED CONVERGENCE</a></h4>
                  </div>

                  <div id="collapse-style2-4" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Metrics immunize tackling courageous opportunity safeguards dignity Cesar Chavez peace recognition free-speech measures innovate. Complexity, fellows NGO, livelihoods, initiative. Criteria employment country The Elders, global leaders; care social entrepreneurship; inclusive capitalism gender.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion.style2" href="#collapse-style2-5">EFFICIENTLY UNLEASH CROSS-MEDIA</a></h4>
                  </div>

                  <div id="collapse-style2-5" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Metrics immunize tackling courageous opportunity safeguards dignity Cesar Chavez peace recognition free-speech measures innovate. Complexity, fellows NGO, livelihoods, initiative. Criteria employment country The Elders, global leaders; care social entrepreneurship; inclusive capitalism gender.</p>
                    </div>
                  </div>
                </div>
              </div>
                  <!-- END OF ACCORDION -->
</div>
</div>
</section>

    <!-- TEAM -->
<section class="about1-team">
<div class="row">
<div class="col-sm-12">
        <h2>MEET <span>OUR TEAM</span></h2>
        <p class="text-center">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables. Proactively
          envisioned multimedia based expertise.</p>


           <div class="block-grid-md-4 block-grid-sm-2 block-grid-xs-1 team-grid">

           <!-- TEAM 1 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team1.jpg' %}" alt=""/>
              <h3>DAVID MONREAL</h3>
              <p>CEO</p>
              </div>
          </div>
          <!-- END OF TEAM 1 -->

           <!-- TEAM 2 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team2.jpg' %}" alt=""/>
              <h3>HUGO WALKER</h3>
              <p>FOUNDER</p>
              </div>
          </div>
          <!-- END OF TEAM 2 -->

         <!-- TEAM 3 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team3.jpg' %}" alt=""/>
              <h3>ANGELA FERNANDEZ</h3>
              <p>STRATEGY</p>
              </div>
          </div>
          <!-- END OF TEAM 3 -->

            <!-- TEAM 4 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team4.jpg' %}" alt=""/>
              <h3>SIMON MORENO</h3>
              <p>GENERAL COUNSEL</p>
              </div>
          </div>
          <!-- END OF TEAM 4 -->

          <!-- TEAM 5 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team5.jpg' %}" alt=""/>
              <h3>PAULA STERLING</h3>
              <p>CHIEF FINANCIAL OFFICER</p>
              </div>
          </div>
          <!-- END OF TEAM 5 -->

          <!-- TEAM 6 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team6.jpg' %}" alt=""/>
              <h3>JOSIP VITTIELO</h3>
              <p>HEAD OF ACCOUNTANTS</p>
              </div>
          </div>
          <!-- END OF TEAM 6 -->

           <!-- TEAM 7 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team7.jpg' %}" alt=""/>
              <h3>ALPHONSE BAILY</h3>
              <p>HEAD OF ADVISORS</p>
              </div>
          </div>
          <!-- END OF TEAM 7 -->

           <!-- TEAM 7 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <img src="{% static 'images/team8.jpg' %}" alt=""/>
              <h3>MARWIN KLAVAN</h3>
              <p>SENIOR SALES ASSOCIATE</p>
              </div>
          </div>
          <!-- END OF TEAM 7 -->

      </div>
</div>
</div>
</section>
    <!-- END OF TEAM -->

  <div class="spacing-65"></div>

  <!-- FOOTER -->
  <section class="footer">

    <div class="footer-elements">
      <div class="row">
        <div class="col-sm-12">
          <div class="row no-gutter">

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-watch"></span>
                <p>MONDAY TO FRIDAY<span>09:00 - 20:00</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-location-outline"></span>
                <p>4771 WEST FIELD MINT,<span>SALT LAKE CITY, UT 72883</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-mail"></span>
                <p>E-MAIL:<span><a href="">INFO@GOODGROWTH.COM</a></span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-phone-outline"></span>
                <p>CALL US:<span>800.1148.800</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->
          </div><div class="copyright">
            <div class="row">
            <div class="col-sm-12">
                <p class="text-center">Copyright GoodGrowth Inc. All Rights Reserved.</p>
            </div>
            </div>
        </div>
        </div>
      </div>
      
    </div>

</section>
  <!-- END OF FOOTER -->

  <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JAVASCRIPT FILES -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.hoverIntent.js' %}"></script>
  <script src="{% static 'js/superfish.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/odometer.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/retina.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- END OF JAVASCRIPT FILES -->


 <script>
   jQuery(document).ready(function($) {
      "use strict";

        //  HEADER SLIDER HOOK
        $('#about1-slider').owlCarousel({
          loop: true,
          items: 1,
          margin: 0,
          autoplay: true,
          autoplayTimeout: 8500,
          animateIn: 'fadeIn',
          animateOut: 'bounceOut',
          lazyLoad: true,
        });

 });
  </script>
</body>

</html>
