{% extends 'commons/base.html' %} {% load static %} {% block content %}

<!-- HEADER -->

<div id="hw-hero">
    {% include 'commons/navbar.html' %}

    <!-- SLIDER -->
    <div class="slider-pro" id="index-slider">
        <div class="sp-slides">
            <!-- Slide 1 -->
            <div class="sp-slide">
                <img
                    class="sp-image"
                    src=" {% static 'images/1.jpg' %} "
                    alt=""
                />
                <div class="hw-the-slider-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="hw-the-slider-container">
                                <div
                                    class="hw-the-slider-captions sp-layer"
                                    data-show-transition="left"
                                    data-show-delay="800"
                                >
                                    <h2>FINANCIAL SERVICES</h2>
                                    <p>
                                        We can help you stay focused on the
                                        future of your business by providing you
                                        cutting edge financial services - Tax
                                        preparation, Bookkeeping, Budgeting.
                                    </p>
                                    <a href="{% url 'contact' %}" class="hw-btn"
                                        >Book Appointment</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide 1 -->
            <!-- Slide 2 -->
            <div class="sp-slide">
                <img
                    class="sp-image"
                    src=" {% static 'images/3.jpg' %} "
                    alt=""
                />
                <div class="hw-the-slider-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="hw-the-slider-container">
                                <div
                                    class="hw-the-slider-captions sp-layer"
                                    data-show-transition="right"
                                    data-show-delay="800"
                                >
                                    <h2>YOU CAN FOCUS ON WHAT YOU DO BEST</h2>
                                    <p>
                                        Your business and personal success is
                                        our committment. We can provide you with
                                        efficient and comprehensive financial
                                        services so that you can focus on your
                                        business profit maximization.
                                    </p>
                                    <a href="{% url 'contact' %}" class="hw-btn"
                                        >Book Appointment</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide 2 -->
            <!-- Slide 3 -->
            <div class="sp-slide">
                <img
                    class="sp-image"
                    src=" {% static 'images/2.jpg' %} "
                    alt=""
                />
                <div class="hw-the-slider-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="hw-the-slider-container">
                                <div
                                    class="hw-the-slider-captions sp-layer"
                                    data-show-transition="down"
                                    data-show-delay="800"
                                >
                                    <h2>ACCOUNTING SERVICES FOR STARTUPS</h2>
                                    <p>
                                        Are you starting a new business? Let us
                                        help you with your business registration
                                        and development, Consulting, CRA
                                        Audit/Tax court.
                                    </p>
                                    <a href="{% url 'contact' %}" class="hw-btn"
                                        >Book Appointment</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide 3 -->
        </div>
    </div>
    <!-- END OF SLIDER -->
</div>

<!-- FEATURES -->
<section class="introtext">
    <div class="row">
        <div class="col-sm-12">
            <h2>HOW CAN AN <span>ACCOUNTANT</span> HELP YOU?</h2>
            <p class="text-center">
                Our priority is for your business to grow beyond measure. We are
                mould builders. Your business and personal success is our
                committment.
            </p>
        </div>
    </div>

    <div class="row spacing-45">
        <div class="col-sm-12">
            <div class="block-grid-sm-4 block-grid-xs-1">
                <!--FEATURE 4 -->
                <div
                    class="block-grid-item wow fadeInRight"
                    data-wow-duration="750ms"
                    data-wow-delay="800ms"
                >
                    <div class="shadow-effect">
                        <span class="typcn typcn-chart-bar"></span>
                        <h3>Tax Preparation</h3>
                        <p>
                            Helping you in a timely and correct manner with your
                            personal and company tax issues.
                        </p>
                        <a
                            class="btn btn-default"
                            href="{% url 'about' %}"
                            role="button"
                            >Read More</a
                        >
                    </div>
                </div>
                <!-- END OF FEATURE 4 -->
                <!-- FEATURE 1 -->
                <div
                    class="block-grid-item wow fadeInLeft"
                    data-wow-duration="300ms"
                    data-wow-delay="300ms"
                >
                    <div class="shadow-effect">
                        <span class="typcn typcn-chart-pie-outline"></span>
                        <h3>Bookkeeping</h3>
                        <p>
                            At DKC, We can take this off your To-Do List so that
                            you can focus on your business profit maximization.
                        </p>
                        <a
                            class="btn btn-default"
                            href="{% url 'about' %}"
                            role="button"
                            >Read More</a
                        >
                    </div>
                </div>
                <!-- END OF FEATURE 1 -->
                <!-- FEATURE 2 -->
                <div
                    class="block-grid-item wow fadeInLeft"
                    data-wow-duration="500ms"
                    data-wow-delay="400ms"
                >
                    <div class="shadow-effect">
                        <span class="typcn typcn-chart-area-outline"></span>
                        <h3>Payroll</h3>
                        <p>
                            Help you setup payroll to ease your business
                            pressure. Handle your company payroll and other
                            government deductions.
                        </p>
                        <a
                            class="btn btn-default"
                            href="{% url 'about' %}"
                            role="button"
                            >Read More</a
                        >
                    </div>
                </div>
                <!-- END OF FEATURE 2 -->
                <!-- FEATURE 3 -->
                <div
                    class="block-grid-item wow fadeInRight"
                    data-wow-duration="600ms"
                    data-wow-delay="600ms"
                >
                    <div class="shadow-effect">
                        <span class="typcn typcn-chart-line-outline"></span>
                        <h3>Accounting</h3>
                        <p>
                            Comprehensive accounting services that covers
                            budgeting, forecasting, financial statements and
                            financial reporting.
                        </p>
                        <a
                            class="btn btn-default"
                            href="{% url 'about' %}"
                            role="button"
                            >Read More</a
                        >
                    </div>
                </div>
                <!-- END OF FEATURE 3 -->
            </div>
        </div>
    </div>
</section>
<!-- END OF FEATURES -->

<!-- ABOUT US -->
<section class="aboutus">
    <div class="row">
        <div
            class="col-sm-8 col-md-6 wow fadeInLeft"
            data-wow-duration="600ms"
            data-wow-delay="600ms"
        >
            <hr class="small" />
            <h2>A FEW <span>DETAILS</span> ABOUT US</h2>
            <p>
                We at DKC consulting incorporation, We are the accounting,
                bookkeeping and tax corporation of now and the future. We use
                different cutting edge technologies to provide solutions to
                business challenges of every client of ours.
            </p>
            <p>
                Out team is filled with both seasoned professionals and fresh
                graduates to help your business grow with 100% assurance. Every
                professional team member of our incorporation has well over 10
                years exprience in the field of accounting, consulting,
                bookkeeping, tax, financial analysis and corporate strategy.
            </p>
            <a class="btn btn-default" href="{% url 'about' %}" role="button"
                >Read more about us</a
            >
        </div>
        <div class="col-sm-4 col-md-6"></div>
    </div>
</section>
<!-- END OF ABOUT US -->

<!-- TESTIMONIALS -->
<section class="testimonials">
    <div class="row">
        <div class="col-sm-12">
            <h2>WHAT <span>OUR CUSTOMERS</span> HAVE TO SAY</h2>
            <p class="text-center">
                Your Business and Personal Success Is Our Committment
            </p>
        </div>
    </div>

    <div class="row full-width no-gutter-all">
        <div class="col-sm-12">
            <div id="customers-testimonials" class="owl-carousel">
                <!--TESTIMONIAL 1 -->
                {% for testimonal in testimonials %}
                <div class="item">
                    <div class="shadow-effect">
                        <img
                            class="img-circle"
                            src=" {% static 'images/testimonial1.jpg' %} "
                            alt=""
                        />
                        <p>{{testimonal.review}}</p>
                    </div>
                    <div class="testimonial-name">{{testimonal.name}}</div>
                </div>
                {% empty %}
                <div class="item">
                    <div class="shadow-effect">
                        <p>No reviews yet.</p>
                    </div>
                </div>
                {% endfor %}

                <!--END OF TESTIMONIAL 1 -->
            </div>
        </div>
    </div>
</section>
<!-- END OF TESTIMONIALS -->

<!-- NUMBERS -->
<section class="numbers">
    <div class="row">
        <div class="col-sm-4 col-md-6"></div>

        <div class="col-sm-8 col-md-6">
            <h2>THE MOST <span>COST-EFFECTIVE</span> FINANCE SOLUTION</h2>
            <div
                class="row no-gutter wow fadeInUp"
                data-wow-duration="600ms"
                data-wow-delay="600ms"
            >
                <div class="col-sm-9">
                    <div class="numbersbox">
                        <h4>PROMPT AND ACCURATE VALUATIONS</h4>
                        <hr class="small" />
                        <p>
                            We give strategic advice in real-time with access to
                            our client's financials all year round. We also
                            collaborate within our firm's notes and annotations
                            to keep our team in the loop.
                        </p>
                        <p>
                            We provide our client's with simple and advance
                            technology tools needed to be organized for year-end
                            and taxes, stay up to date with regulatory changes,
                            and remain compliant with the CRA.
                        </p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="numbersbox-small">
                        <div class="number">
                            <div id="odometer1" class="odometer"></div>
                            <div class="numbername">YEARS IN THE MARKET</div>
                        </div>
                        <div class="number">
                            <div id="odometer2" class="odometer"></div>
                            <div class="numbername">HAPPY CLIENTS</div>
                        </div>
                        <div class="number">
                            <div id="odometer3" class="odometer"></div>
                            <div class="numbername">ADVISORS</div>
                        </div>
                        <div class="number">
                            <div id="odometer4" class="odometer"></div>
                            <div class="numbername">PROJECTS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END OF NUMBERS -->
{% include 'commons/footer.html' %} {% include 'commons/scripts.html' %}

<script>
    jQuery(document).ready(function ($) {
        "use strict";

        window.odometerOptions = {
            format: "d",
        };

        //  HEADER SLIDER HOOK
        jQuery("#index-slider").fadeIn(1000);
        $("#index-slider").sliderPro({
            width: "100%",
            height: 760,
            arrows: false,
            buttons: true,
            waitForLayers: true,
            fade: true,
            fadeDuration: 800,
            autoplay: true,
            autoplayDelay: 7500,
            autoplayOnHover: "none",
            autoScaleLayers: false,
        });

        //  TESTIMONIALS CAROUSEL HOOK
        $("#customers-testimonials").owlCarousel({
            loop: true,
            center: true,
            items: 3,
            margin: 0,
            autoplay: true,
            autoplayTimeout: 8500,
            smartSpeed: 450,
            responsive: {
                0: {
                    items: 1,
                },
                768: {
                    items: 2,
                },
                1170: {
                    items: 3,
                },
            },
        });
        //  CLIENTS CAROUSEL HOOK
        $("#clients-carousel").owlCarousel({
            loop: true,
            items: 5,
            margin: 30,
            autoplay: true,
            autoplayTimeout: 8500,
            smartSpeed: 450,
            responsive: {
                0: {
                    items: 2,
                },
                768: {
                    items: 3,
                },
                1170: {
                    items: 5,
                },
            },
        });

        $(".odometer").waypoint(
            function () {
                setTimeout(function () {
                    $("#odometer1.odometer").html(5);
                }, 500);

                setTimeout(function () {
                    $("#odometer2.odometer").html(120);
                }, 1000);

                setTimeout(function () {
                    $("#odometer3.odometer").html(3);
                }, 1500);

                setTimeout(function () {
                    $("#odometer4.odometer").html(150);
                }, 2000);
            },
            {
                offset: 800,
                triggerOnce: true,
            }
        );
    });
</script>

{% endblock content %}
