{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GoodGrowth - Financial Services HTML Template</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <!-- GOOGLE WEB FONTS -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- END OF GOOGLE WEB FONTS -->

  <!-- BOOTSTRAP & STYLES -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/block_grid_bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/typicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/odometer-theme-default.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate-custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- END OF BOOTSTRAP & STYLES -->
</head>

<body>
  <!-- HEADER -->

  <div id="hw-hero">
    <div class="header header1">
      <!-- TOP BAR -->
      <div class="topbar">
        <div class="row">
          <div class="col-sm-6">
            <ul class="phone">
              <li><span class="typcn typcn-phone-outline"></span> 800.1148.800</li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="toplinks">
              <li>MON - FRI 09:00 - 20:00</li>
              <li><a href="#">E-MAIL US</a></li>

            </ul>
          </div>
        </div>
      </div>
      <!-- END OF TOP BAR -->


      <!-- LOGO & NAVIGATION -->
      <div class="header-navigation">
      <div class="row">
        <div class="col-sm-12">
          <div class="logonav">
            <div class="row no-gutter">
              <div class="col-sm-3">
                <div class="logo">
                  <a href="{% url 'home' %}"><img src="{% static 'images/logo.png '%} " alt="" /></a>
                </div>
              </div>
              <div class="col-sm-9">
                <nav id="desktop-menu">
                <ul class="sf-menu" id="navigation">
                    <li class="current"><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- END OF LOGO & NAVIGATION -->
    </div>


    <!-- VIDEO HEADER -->
    <div id="video-header">
    <video autoplay loop muted poster="{% static 'images/video-poster.jpg' %}">
      <source src="{% static 'video/video2.mp4' %}" type="video/mp4">
    </video>
    <div class="video-header-message">
    <h1>FINANCE PROFESSIONALS WITH DEEP EXPERIENCE</h1>
<hr class="small"/>
<p>a more cost-effective and practical solution for a small business</p>
</div>

    </div>
    <!-- END OF VIDEO HEADER -->
  </div>

  <!-- FEATURES -->
  <section class="introtext home3">

    <div class="row spacing-45">
      <div class="col-sm-12">
        <div class="block-grid-sm-3 block-grid-xs-1">

          <!-- FEATURE 1 -->
          <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
              <span class="typcn typcn-chart-pie"></span>
              <div class="introtext-feature">
              <h3>SMALL BUDGETS</h3>
              <p>Phosfluorescently engage worldwide methodologies completely seamlessly empower.</p>
              </div>
          </div>
          <!-- END OF FEATURE 1 -->
          <!-- FEATURE 2 -->
          <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
              <span class="typcn typcn-infinity"></span>
              <div class="introtext-feature">
              <h3>FINANCIAL STABILITY</h3>
              <p>Phosfluorescently engage worldwide methodologies completely seamlessly empower.</p>
              </div>
          </div>
          <!-- END OF FEATURE 2 -->
          <!-- FEATURE 3 -->
          <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
              <span class="typcn typcn-input-checked"></span>
              <div class="introtext-feature">
              <h3>ADMINISTRATIVE SERVICES</h3>
              <p>Phosfluorescently engage worldwide methodologies completely seamlessly empower.</p>
              </div>
          </div>
          <!-- END OF FEATURE 3 -->
          <!--FEATURE 4 -->
          <div class="block-grid-item wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
              <span class="typcn typcn-leaf"></span>
              <div class="introtext-feature">
              <h3>COMPREHENSIVE SOLUTIONS</h3>
              <p>Phosfluorescently engage worldwide methodologies completely seamlessly empower.</p>
              </div>
          </div>
          <!-- END OF FEATURE 4 -->

          <!-- FEATURE 5 -->
          <div class="block-grid-item wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="700ms">
              <span class="typcn typcn-lightbulb"></span>
              <div class="introtext-feature">
              <h3>OPERATIONAL “CHECKUP”</h3>
              <p>Phosfluorescently engage worldwide methodologies completely seamlessly empower.</p>
              </div>
          </div>
          <!-- END OF FEATURE 5 -->
          <!-- FEATURE 6 -->
          <div class="block-grid-item wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="800ms">
              <span class="typcn typcn-point-of-interest-outline"></span>
              <div class="introtext-feature">
              <h3>FINANCIAL CONSULTATION</h3>
              <p>Phosfluorescently engage worldwide methodologies completely seamlessly empower.</p>
              </div>
          </div>
          <!-- END OF FEATURE 6 -->
        </div>
      </div>
    </div>
  </section>
  <!-- END OF FEATURES -->



  <!-- FEATURES -->
  <section class="features">
    <div class="row">

      <div class="col-md-4">
      <h3>Your financial infrastructure</h3>

      <div class="feature">
      <div class="featureicon"><span class="typcn typcn-business-card"></span></div>
      <h5>One bank account</h5>
      <p>Collaboratively administrate empowered markets via plug-and-play networks dynamically procrastinate. </p>
      </div>

      <div class="feature">
      <div class="featureicon"><span class="typcn typcn-chart-area"></span></div>
      <h5>Stay on top of your cash burn</h5>
      <p>B2C users after installed base benefits. Dramatically visualize customer directed convergence.</p>
      </div>

     <div class="feature">
      <div class="featureicon"><span class="typcn typcn-chart-bar"></span></div>
      <h5>Keep your financials clean</h5>
      <p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely.</p>
      </div>

      </div>

      <div class="col-md-8">
      <img src="{% static 'images/features-img.jpg' %}" alt=""/>
      </div>

    </div>
  </section>
  <!-- END OF FEATURES -->

    <!-- ΝUMBERS 2 -->
  <div class="numbers home3">
    <div class="row">

      <div class="col-sm-15">
      <div class="number">
      <div id="odometer1" class="odometer"></div>
      <div class="numbername">SUPPORT TICKETS</div>
     </div>
     </div>

     <div class="col-sm-15">
      <div class="number">
      <div id="odometer2" class="odometer"></div>
     <div class="numbername">ADVISORS</div>
     </div>
     </div>

     <div class="col-sm-15">
      <div class="number">
       <div id="odometer3" class="odometer"></div>
      <div class="numbername">CONNECTORS</div>
     </div>
     </div>

     <div class="col-sm-15">
      <div class="number">
        <div id="odometer4" class="odometer"></div>
      <div class="numbername">ACTIVE PARTNERS</div>
     </div>
     </div>

     <div class="col-sm-15">
      <div class="number">
       <div id="odometer5" class="odometer"></div>
     <div class="numbername">GROWING COMPANIES</div>
     </div>
     </div>

    </div>
  </div>
  <!-- END OF ΝUMBERS 2 -->

<!-- CALL TO ACTION -->
  <section class="calltoaction home3">
    <div class="row">
      <div class="col-sm-12">
        <h2><span>NEED HELP ON A PROJECT BASIS?</span> WE CAN DO IT</h2>
        <p class="text-center">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
</div>
</div>

<div class="row spacing-45">
        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12">
              <p>Methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric completely pursue.</p>
            </div>
          </div>
          </div>
        <div class="cta-title orange">MARKET VALUE ANALYSIS</div>
        </div>

         <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12">
              <p>Methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric completely pursue.</p>
            </div>
          </div>
          </div>
        <div class="cta-title green">STOCK OPTION GRANTS</div>
        </div>

       <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="shadow-effect">
          <div class="row">
            <div class="col-sm-12">
              <p>Methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric completely pursue.</p>
            </div>
          </div>
          </div>
        <div class="cta-title gray">FREE REVISIONS</div>
        </div>
      </div>
 </section>

 <div class="calltoaction home3 cta-button">
 <a class="hw-btn">Pricing</a>
 </div>

    <!-- END OF CALL TO ACTION -->

    <!--  Pricing Tables -->
    <section class="pricingtables">
        <div class="row no-gutter">
         <div class="price-plans">

            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="text-center">STARTER</h3>
                    </div>
                    <div class="panel-body text-center">
                        <h4>$49/<span>mo</span></h4>
                    </div>
                    <ul class="text-center">
                        <li>Entry of bank, debit card</li>
                        <li>Credit card statements</li>
                        <li>Preparing of Balance Sheet</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-pricetable" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 most-popular">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="text-center">PRO</h3>
                    </div>
                    <div class="panel-body text-center">
                        <h4>$99/<span>mo</span></h4>
                    </div>
                    <ul class="text-center">
                        <li>Full service bookkeeping</li>
                        <li>Bill Pay</li>
                        <li>General ledger reporting</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-pricetable" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                         <h3 class="text-center">ELITE</h3>
                    </div>
                    <div class="panel-body text-center">
                        <h4>$139/<span>mo</span></h4>
                    </div>
                    <ul class="text-center">
                        <li>Customer invoice processing</li>
                        <li>Employee setup</li>
                        <li>Payroll tax filing</li>
                    </ul>
                    <div class="panel-footer">
                        <a class="btn btn-lg btn-pricetable" href="#">ORDER NOW</a>
                    </div>
                </div>
            </div>
  </div>
        </div>
    </section>
    <!-- End of Pricing Tables -->

  <!-- FOOTER -->
  <section class="footer">

    <div class="footer-elements">
      <div class="row">
        <div class="col-sm-12">
          <div class="row no-gutter">

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-watch"></span>
                <p>MONDAY TO FRIDAY<span>09:00 - 20:00</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-location-outline"></span>
                <p>4771 WEST FIELD MINT,<span>SALT LAKE CITY, UT 72883</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-mail"></span>
                <p>E-MAIL:<span><a href="">INFO@GOODGROWTH.COM</a></span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-phone-outline"></span>
                <p>CALL US:<span>800.1148.800</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->
          </div><div class="copyright">
            <div class="row">
            <div class="col-sm-12">
                <p class="text-center">Copyright GoodGrowth Inc. All Rights Reserved.</p>
            </div>
            </div>
        </div>
        </div>
      </div>
      
    </div>

</section>
    
  <!-- END OF FOOTER -->

  

  <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JAVASCRIPT FILES -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.hoverIntent.js' %}"></script>
  <script src="{% static 'js/superfish.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/odometer.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/retina.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- END OF JAVASCRIPT FILES -->

  <script>
jQuery(document).ready(function($) {
      "use strict";

      window.odometerOptions = {
        format: 'd'
      };

        $('.odometer').waypoint(function() {

          setTimeout(function() {
            $('#odometer1.odometer').html(38);
          }, 500);

          setTimeout(function() {
            $('#odometer2.odometer').html(606);
          }, 1000);

          setTimeout(function() {
            $('#odometer3.odometer').html(24);
          }, 1500);

          setTimeout(function() {
            $('#odometer4.odometer').html(308);
          }, 2000);

          setTimeout(function() {
            $('#odometer5.odometer').html(740);
          }, 2500);

        }, {
          offset: 800,
          triggerOnce: true
        });
 });
  </script>

</body>

</html>
