{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>GoodGrowth - Financial Services HTML Template</title>
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  <!-- GOOGLE WEB FONTS -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- END OF GOOGLE WEB FONTS -->

  <!-- BOOTSTRAP & STYLES -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/block_grid_bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/typicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/odometer-theme-default.css' %}" rel="stylesheet">
  <link href="{% static 'css/animate-custom.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
  <link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <!-- END OF BOOTSTRAP & STYLES -->
</head>

<body>
  <!-- HEADER -->

  <div id="hw-hero">
    <div class="header header1">
      <!-- TOP BAR -->
      <div class="topbar">
        <div class="row">
          <div class="col-sm-6">
            <ul class="phone">
              <li><span class="typcn typcn-phone-outline"></span> 800.1148.800</li>
              <li><a href=""><i class="fa fa-facebook"></i></a></li>
              <li><a href=""><i class="fa fa-twitter"></i></a></li>
              <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="toplinks">
              <li>MON - FRI 09:00 - 20:00</li>
              <li><a href="#">E-MAIL US</a></li>

            </ul>
          </div>
        </div>
      </div>
      <!-- END OF TOP BAR -->


      <!-- LOGO & NAVIGATION -->
      <div class="header-navigation">
      <div class="row">
        <div class="col-sm-12">
          <div class="logonav">
            <div class="row no-gutter">
              <div class="col-sm-3">
                <div class="logo">
                  <a href="{% url 'home' %}"><img src="{% static 'images/logo.png '%} " alt="" /></a>
                </div>
              </div>
              <div class="col-sm-9">
                <nav id="desktop-menu">
                <ul class="sf-menu" id="navigation">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li class="current"><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'faq' %}">FAQ</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- END OF LOGO & NAVIGATION -->
    </div>

 <!-- PAGE HEADER -->
    <div id="page-header">
   <div class="title-breadcrumbs">
   <h1>SERVICES</h1>
   <div class="thebreadcumb">
    <ul class="breadcrumb">
       
    </ul>
   </div>
   </div>

    </div>
    <!-- END OF PAGE HEADER -->
  </div>

  <!-- SERVICES INTRO -->
  <section class="services1">
    <div class="row">
      <div class="col-sm-12">
        <h2>WE ARE <span>PASSIONATE</span> ABOUT FINANCE</h2>
        <p class="text-center">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables. Proactively
          envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
      </div>
      </div>
  </section>

  <section class="services1-list">

  <!-- SERVICES -->
   <div class="row">
      <div class="col-sm-12">
       <div class="block-grid-sm-4 block-grid-xs-1 services1-grid">

           <!-- SERVICE 1 -->
          <div class="block-grid-item black wow zoomIn" data-wow-duration="500ms" data-wow-delay="100ms">
          <div class="shadow-effect">
            <span class="typcn typcn-chart-line"></span>
              <h3>FINANCE</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 1 -->

          <!-- SERVICE 2 -->
          <div class="block-grid-item blue wow zoomIn" data-wow-duration="500ms" data-wow-delay="200ms">
           <div class="shadow-effect">
            <span class="typcn typcn-chart-area"></span>
              <h3>ACCOUNTING</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 2 -->

          <!-- SERVICE 3 -->
          <div class="block-grid-item brown wow zoomIn" data-wow-duration="500ms" data-wow-delay="300ms">
           <div class="shadow-effect">
            <span class="typcn typcn-waves"></span>
              <h3>CONSULTING</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 3 -->

            <!-- SERVICE 4 -->
          <div class="block-grid-item lynch wow zoomIn" data-wow-duration="500ms" data-wow-delay="400ms">
           <div class="shadow-effect">
           <span class="typcn typcn-adjust-brightness"></span>
              <h3>VALUATION</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 4 -->

          <!-- SERVICE 5 -->
          <div class="block-grid-item orange wow zoomIn" data-wow-duration="500ms" data-wow-delay="500ms">
          <div class="shadow-effect">
            <span class="typcn typcn-chart-bar"></span>
              <h3>TAXES</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 5 -->

          <!-- SERVICE 6 -->
          <div class="block-grid-item wisteriapurple wow zoomIn" data-wow-duration="500ms" data-wow-delay="600ms">
           <div class="shadow-effect">
            <span class="typcn typcn-arrow-shuffle"></span>
              <h3>TRANSACTIONS</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 6 -->

          <!-- SERVICE 7 -->
          <div class="block-grid-item gray wow zoomIn" data-wow-duration="500ms" data-wow-delay="700ms">
          <div class="shadow-effect">
            <span class="typcn typcn-chart-area"></span>
              <h3>PRIVATE STOCK</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 7 -->

            <!-- SERVICE 8 -->
          <div class="block-grid-item oilgreen wow zoomIn" data-wow-duration="500ms" data-wow-delay="800ms">
           <div class="shadow-effect">
            <span class="typcn typcn-flow-switch"></span>
              <h3>INTERNAL CONTROL</h3>
              <p>Phosfluorescently engage worldwide methodologies with web-enabled technology.</p>
              </div>
          </div>
          <!-- END OF SERVICE 8 -->

      </div>
      </div>
    </div>
  </section>

      <div class="image-mockup"><img src="{% static 'images/mockup2.png' %}" alt=""/></div>


<!-- END OF SERVICES -->

<section class="content">

<div class="row">

<div class="col-md-6">
 <h5>COMPLETELY SYNERGIZE RESOURCE</h5>
 <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets.</p>

<p>Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
</div>


<div class="col-md-6">

<!-- ACCORDION CODE -->
         <h5>WE GET SMALL BUSINESSES</h5>

        <div id="accordion" class="style1 panel-group">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-minus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">WE UNDERSTAND YOUR CHALLENGES</a></h4>
                  </div>

                  <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <p>Social nutrition carbon rights. Economic security inspire breakthroughs. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">TACKLE ACCOUNTING WORK</a></h4>
                  </div>

                  <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Raise awareness maintain; peace social worker; tackling.</p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">TEAM OF FINANCE PROFESSIONALS</a></h4>
                  </div>

                  <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Catalytic effect hack agriculture many voices aid challenges. </p>
                    </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title"><i class="indicator fa fa-plus-square-o pull-left"></i><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">ON-DEMAND FINANCIAL SUPPORT</a></h4>
                  </div>

                  <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                      <p>Metrics immunize tackling courageous opportunity safeguards dignity.</p>
                    </div>
                  </div>
                </div>


              </div>
</div>

</div>
</section>

<div class="spacing-45"></div>

  <!-- FOOTER -->
  <section class="footer">

    <div class="footer-elements">
      <div class="row">
        <div class="col-sm-12">
          <div class="row no-gutter">

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-watch"></span>
                <p>MONDAY TO FRIDAY<span>09:00 - 20:00</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-location-outline"></span>
                <p>4771 WEST FIELD MINT,<span>SALT LAKE CITY, UT 72883</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-mail"></span>
                <p>E-MAIL:<span><a href="">INFO@GOODGROWTH.COM</a></span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->

            <!-- FOOTER TOP ELEMENT -->
            <div class="col-sm-3">
              <div class="footer-element">
                <span class="typcn typcn-phone-outline"></span>
                <p>CALL US:<span>800.1148.800</span></p>
              </div>
            </div>
            <!-- FOOTER TOP ELEMENT -->
          </div><div class="copyright">
            <div class="row">
            <div class="col-sm-12">
                <p class="text-center">Copyright GoodGrowth Inc. All Rights Reserved.</p>
            </div>
            </div>
        </div>
        </div>
      </div>
      
    </div>

</section>
  <!-- END OF FOOTER -->

  <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JAVASCRIPT FILES -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.hoverIntent.js' %}"></script>
  <script src="{% static 'js/superfish.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/odometer.min.js' %}"></script>
  <script src="{% static 'js/waypoints.min.js' %}"></script>
  <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'js/wow.min.js' %}"></script>
  <script src="{% static 'js/retina.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- END OF JAVASCRIPT FILES -->

</body>
</html>
